---
import type { Lang } from '@/i18n/ui'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import '@/styles/global.css'

interface Props {
  title: string
  lang?: Lang
  includeContactForm?: boolean
}

const { title, lang = 'ua', includeContactForm = false } = Astro.props
const htmlLang = lang === 'en' ? 'en' : 'uk'
const currentPath = Astro.url.pathname
---

<!doctype html>
<html lang={htmlLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-normalize@2.0.0/modern-normalize.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />
  </head>
  <body>
    <Header lang={lang} currentPath={currentPath} />
    <slot />
    <Footer lang={lang} />
  </body>
</html>
